<form action="/update">
    <input type="text" name="title" placeholder="Title">
    <textarea name="description" placeholder="Description"id="description" cols="30" rows="8"></textarea>
    <button>Update</button>
</form>